.menutop ul li{
    list-style: none;
    margin-right: 50px;
    color: #DCAC62;
  }
  .menutop ul li a{
    font-size: larger;
    text-decoration: none;
  }
  .menutop ul{
    display: flex;
    justify-content: center;
  }
  .menutop{
    margin-top: 30px;
    font-weight: bold;
  }