h1 {
  margin-top: 80px;
  color: #DCAC62;
  text-align: center  ;
}
.carousel-item img{
  width: 700px;
  height: 550px;
}
.spnb {
  margin-top: 50px;
}
.sanpham{
  width: 100%;
}
.spnb {
  flex-wrap: wrap ;
  display: flex;
  margin: 30px;
  margin-left: 60px;
  border: none;
  justify-content: center;
}
.item img{
  width: 250px;
  height: 250px;
}
h4{
  height: 83px;
  margin-top: 20px;
}
.item{
  width: 250px;
    height: 500px;
  margin-right: 30px;
}
.the p{
  color: #DCAC62;
  font-weight: 500;
  margin-top: 10px;
}
.thongtin{
  display: flex;
  background-color: #999;
}
.chitiet img{
  width: 400px;
  height: 400px;
}
.chitiet h1{
  text-align: left;
  margin-left: 50px;
}
.chitiet p{
  text-align: left;
  margin-left: 50px;
  width: 80%;
}
h5{
  text-align: left;
  margin-left: 50px;
}
.note{
  display: flex;
  justify-content: space-around;
}
.note2 img{
  border-radius: 20px;
  width: 400px;
}
h6{
  margin-top: 20px;
}