.login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding-left: 20px;
    height: 500px;
    margin-top: 100px;
    border-radius: 30px;
    padding-top: 100px;
}
.login button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.img{
    padding-top: 20px;
    padding-left: 40px;
}